* {
    box-sizing: border-box;
}



:root {
    --dark-navy: #ffffff;
    --light-navy: #e6e9f1;
    --blue-jeans: #007BFF;
    --pink-gray: #444452;
    --whitesmoke: #444452;
    --slate: #444452;
    --pro-font: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    --mono-font: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;

}

[data-theme="dark"] {
    --dark-navy: #0A192F;
    --light-navy: #172A45;
    --blue-jeans: #63b6f3;
    --pink-gray: #CCD6F6;
    --whitesmoke: whitesmoke;
    --slate: #8892B0;
}

body {
    background-color: var(--dark-navy);
    font-family: var(--mono-font);
    margin: 0 auto;


}
span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }
button:hover {
    background-color: #42c9ff12;
    transform: scale(1.04);
    cursor: pointer;
}

.nav-link {
    color: var(--pink-gray);
}

.nav-link > a {
    text-decoration: none;
    color: inherit;
}

.nav-container ol {
    list-style: none;
    counter-reset: counter-item;
    font-weight: 100;
    font-size: 13px;
}

.nav-container ol li {
    counter-increment: counter-item;

}

.nav-link:hover {
    color: var(--blue-jeans);
    cursor: pointer;
}

.nav-container ol li::before {
    content: "0"counter(counter-item) ". ";
    color: var(--blue-jeans);

}

.nav-container {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding: 0 20px;
    position: sticky;
}

.logo-container {
    height: 100px;
    width: 100px;
    display: grid;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    padding: 15px;
}



.contact {
    color: var(--blue-jeans);
    background: transparent;
    border-color: var(--blue-jeans);
    font-family: var(--mono-font);
    padding: 1rem 1rem;
    border-radius: 3px;
    border: 1px solid;
    font-size: 14px;
    font-weight: 200;
    margin-top: 20px;
    grid-row: 3 / -1;
}


.name {
    color: var(--whitesmoke);
    font-family: var(--pro-font);
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.1;
    height: auto;
    margin: 0;
    grid-column: span 3;
    letter-spacing: 0.1em;  
}

.description {
    color: var(--pink-gray);
    font-size: 1.6rem;
    font-family: var(--pro-font);
    letter-spacing: 0.1em;  


}

.hero {
    display: grid;
    padding: 25px;
    grid-gap: 15px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(120px, 1fr));
    align-items: center;
    min-height: 80vh;
}

.resume-button {

    color: var(--blue-jeans);
    background: transparent;
    border-color: var(--blue-jeans);
    padding: 0.8rem 1rem;
    border-radius: 3px;
    border: 1px solid;
    font-size: 13px;
    font-weight: 200;
    font-family: var(--mono-font);

}

/* Project Section */

.projects {
    margin: 50px;
    /* padding-top: 20px; */
}

.projects h3, .about h3 {
    text-align: center;
    color: var(--whitesmoke);
    margin-bottom: 40px;
    font-family: var(--pro-font);
    letter-spacing: 0.1em;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}


.project-card {
    padding: 20px;
    background-color: var(--light-navy);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    transition: transform .2s;
    border-radius: 3px;
}

.project-card:hover {
    transform: scale(1.035);
}

.project-card .project-name {
    color: var(--pink-gray);
    text-align: center;
    font-family: var(--pro-font);
    letter-spacing: 0.1em;
}

.project-card .project-description {
    color: var(--pink-gray);
    font-family: var(--pro-font);
    line-height: 1.5;

}

.project-card header {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 40px;
}

.project-card footer {
    text-align: center;
}

.project-card footer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
    padding: 0;
}

.project-card footer li {
    list-style: none;
    color: var(--slate);
    font-size: 12px
}

.action-buttons {
    text-align: center;

}

.action-buttons button {
    font-family: var(--mono-font);
    color: var(--blue-jeans);
    background: transparent;
    border-color: var(--blue-jeans);
    padding: 0.8rem 1rem;
    border-radius: 3px;
    border: 1px solid;
    font-size: 12px;
    font-weight: 200;
}

.action-buttons button:hover {
    background-color: #42c9ff12;
}


/* Color theme switcher */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
    /* em {
      margin-left: 10px;
      font-size: 1rem;
    } */
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sun {
    background: url('switch/sun.svg') no-repeat center;
    background-size: 100%;
  }
  .moon {
    background: url('switch/moon.svg') no-repeat center;
    background-size: 100%;
  }

  .sun, .moon {
    width: 17px;
    height: 17px;
  }

  /* About Section */
  .about {
      margin: 80px 50px;
  }
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 300px;
    align-content: center;
    grid-gap: 10px;
    overflow: auto;
    justify-content: center;
  }

  .about-text-container  {
      padding: 40px;
      background-color: var(--light-navy);
      display: grid;
      align-content: center;
      border-radius: 3px;
      line-height: 1.5;
      color: var(--pink-gray);
  }

  .about-text-container > ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      grid-gap: 10px;
      grid-column-gap: 20px;
  }
  .about-text-container ul li::before {
    content: "👉";  
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }

  .about-text-container li span {
      padding-left: 6px;
  }

 
  .picture {
      height: 300px;
      width: 300px;
      justify-self: center;
      align-self: center;
      filter: grayscale(3);
  }

  .picture:hover {
      filter: grayscale(0);
  }

  .picture > img {
    border-radius: 3px;
  }
  
  @media only screen and (max-width: 768px) {


    .project-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }


    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
      }
  }


