* {
    box-sizing: border-box;
}


body {
    background-color: #0A192F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;

}

.nav-link {
    color: #CCD6F6;
}



/* ol li::before {
    color: mediumslateblue;
} */

.nav-container ol {
    list-style: none;
    counter-reset: counter-item;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: 100;
}

.nav-container ol li {
    counter-increment: counter-item;
}

.nav-container ol li::before {
    content: "0"counter(counter-item) ". ";
    color: #63b6f3;
}

.nav-container {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
   position: sticky; 
}

.logo-container {
    height: 100px;
    width: 100px;
    display: grid;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    padding: 15px;
}



.contact {
    color: #63b6f3 ;
    background: transparent;
    border-color: #63b6f3;
    padding: 1.25rem 1.75rem;
    border-radius: 3px;
    border: 1px solid;
    font-size: 14px;
    font-weight: 200;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    /* justify-self: start;s */
    align-self: center;
    margin-top: 20px;
}


.name {
    color: whitesmoke;
    font-size: 6.5vw;
    font-weight: 600;
    height: auto;
    margin: 0;
}

.description {
    color: #CCD6F6;
    font-size: 1.8vw;
    word-wrap: break-word;
}

.about {
    display: grid;
    padding: 25px;
    word-wrap: break-word;
    grid-gap: 15px;
    justify-items: center;
    margin-top: 30px;
}

